:root {
  --primary: #YOUR_COLOR;
  --primary-dark: #YOUR_COLOR_BUT_DARKER;
}

input[type=submit],
button[type=submit],
button:not([disabled]) {
  background: var(--primary);
}
input[type=submit]:hover,
button[type=submit]:hover,
button:not([disabled]):hover {
  background: var(--primary-dark);
}

dd + dt {
  border-top: 0px solid var(--primary);
}

blockquote {
  border-left: 1px solid var(--primary);
}

mark {
  background: var(--primary);
}

a {
  color: var(--primary);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

article {
	width: 50em;
}