/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: middle;
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.big-box {
	width: 100%;
	height: auto;
	background-color: #dfe4ea;

}

.inner-box {
	width: 60%;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	padding: 2%;
	align-content: center;
}

table.nav {
	margin-left: auto;
	margin-right: auto;
}

p.logo-text {
	font-family:"SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	font-weight: bold;
	font-size: 3rem;
	color: black;
	top:0px;
	-webkit-transition: color 0.6s; /* For Safari 3.0 to 6.0 */
    transition: color 0.6s; /* For modern browsers */
}

p.logo-text:hover {
	color: #485460;
	
}

a.nav-link {
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	font-size: 1.2rem;
	color: black;
	margin-left: 5px;
	text-decoration: none;
}

a.p-link {
	color: #3c6382;
	text-decoration: none;
}

img.logo-image {
	width:100px;
	height: 100px;
}

@media (max-width:768px) {

	img.logo-image {
		width:75px;
		height:75px;
	}
	p.logo-text {
		font-size: 1.7rem;
	}

	.inner-box {
		width:100%;
		height: auto;
		padding-top: 20px;
		padding-bottom: 20px;
		margin-right: auto;
		margin-left: auto;

	}

	th.social a {
		font-size: 0.65rem;
	}
} 

table.nav a{
	text-decoration: none;
	color: black;

}

th.social {
	padding-left: 15px;
}


.main {
	width: 60%;
	height: auto;
	padding-top: 40px;
	margin-left: auto;
	margin-right: auto;
}


.main h1 {
	font-size: 1.5rem;
	font-weight: bold;
}

.main p {
	line-height: 1.4;
}


@media (max-width: 768px) {
	.main {
		padding-top: 20px;
		width: 90%;
	}
} 



.project-section {

	width: 100%;
	height: auto;
	


}


a.project-title {
	margin-left: 15px;
	font-size: 2rem;
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	color: black;
	text-decoration: none;
	font-weight: bold;
	display: inline-block;

}

@media (max-width: 768px) {
	a.project-title {
		font-size: 1.5rem;
	}
} 


.project-description {
	margin-top: 10px;
	margin-left: 15px;
}

text.desc {
	margin-top: 10px;

}



h2.read-more {
	font-size: 1rem;
	padding-top: 5px;
	padding-bottom: 5px;
}

.image-centered {

	width: 100%;
	height: auto;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.image-centered img {
	width: 100%;
}

summary {
	padding-top: 5px;
	margin-bottom: 10px;
}